* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f6f8;
  font-family: "Poppins", sans-serif;
  color: #333;
}

/* Headings */
h2 {
  text-decoration: underline;
  margin-bottom: 10px;
  color: #0077b6;
  text-align: center;
}

/* Header and Footer */
header, footer {
  background-color: #0077b6;
  border: 1px solid #005f8d;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Sections */
section {
  border: 2px solid #ddd;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

/* Individual Section Styles */
#about {
  background-color: #d8f3dc;
  text-align: center;
  padding: 20px;
}

#photo {
  background-color: #ffe8a3;
  text-align: center;
  padding: 20px;
}
#photo img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
#photo img {
  border-radius: 50%;
  transition: transform 0.3s ease;
}
#photo img:hover {
  transform: scale(1.1);
}

#hobbies {
  background-color: #a7c957;
  text-align: center;
  padding: 20px;
}

#skills {
  background-color: #ffc8dd;
  text-align: center;
  padding: 20px;
}

#skills li {
  list-style-type: square;
}

#websites {
  background-color: #caffbf;
  text-align: center;
  padding: 20px;
}

ul {
  list-style-type: disc;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

#websites ul li {
  list-style-position: inside;
  display: inline-block;
  padding: 5px 10px;
}

#education {
  background-color: #ffd6a5;
  text-align: center;
  padding: 20px;
}

table, th, td {
  margin: 20px auto;
  border: 2px solid #555;
  text-align: center;
  border-collapse: collapse;
}

th, td {
  padding: 10px 15px;
}

/* Contact Section */
#contact {
  color: white;
background-image: url("https://t3.ftcdn.net/jpg/18/57/41/62/240_F_1857416278_fJTNk225YinPmVMyyOP05xaGDlLcYtHa.jpg");

  text-align: left;
  padding: 20px;
}

#contact h2 {
  color: #4cc9f0;
}

form div {
  margin: 10px 0;
}
