* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-decoration: underline;
    margin-bottom: 10px;
    color: aqu;
    text-align: center;
}
section{
    border: 2px solid black;
    
}

body {
    background-color: gray;
}

header {
    background-color: cyan;
    text-align: center;
    padding: 10px;
}

section#about {
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
}

section#photo {
    background-color: rgba(247, 218, 80);/*maize*/
    text-align: center;
    padding: 10px;
}

section#hobbies {
    /* background-color: rgb(34, 146, 226); *//*prussian blue*/
    background-color: rgb(18, 173, 43);/*parrot green*/
    text-align: center;
    padding: 10px;
}

section#skills {
    
    background-color: rgb(241, 120, 241);
    text-align: center;
    padding: 10px;
}
section#skills li {
        list-style-type: square;
        
    }

section#websites {
    background-color: lightgreen;
    text-align: center;
    padding: 30px;

}
ul {
    list-style-type: disc;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}
section#websites ul li {
    list-style-position: inside;
    display: inline-block;
    padding: 5px;
}

section#education {
    background-color: orange;
    text-align: center;
    padding: 10px;
}

table,
th,
td {
    margin: 20px auto;
    table-layout: auto;
    border: 2px solid black;
    text-align: center;
}
th,td{
    padding: 10px;
}

section#contact {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}
section#contact h2{
    color: aqua;
}   

footer {
    background-color: cyan;
    text-align: center;
    padding: 10px;
}